<!-- Hero Search Section -->
<div class="relative py-6">
    <!-- Title -->
    <div class="text-center mb-4">
        <h1 class="text-2xl md:text-3xl font-bold text-gray-900 dark:text-white">
            Trouvez votre <span class="text-blue-600">propriété idéale</span>
        </h1>
    </div>

    <!-- Search Form -->
    <app-hero-search
            (search)="handleSearch($event)">
    </app-hero-search>
</div>


<!-- Property Categories -->
<div class="border-b border-gray-200 bg-white sticky top-20 z-40 rounded-t-2xl">
    <div class="container mx-auto px-4 sm:px-6 lg:px-8">
        <div class="flex items-center space-x-8 overflow-x-auto py-4 scrollbar-hide">
            @for (category of propertyCategories; track category.id) {
                <button (click)="selectCategory(category.id)"
                        [class.border-b-2]="category.active"
                        [class.border-gray-900]="category.active"
                        [class.text-gray-500]="!category.active"
                        [class.text-gray-900]="category.active"
                        class="flex flex-col items-center min-w-fit pb-3 hover:text-gray-900 transition-colors">
                    <lucide-icon [img]="category.icon" class="w-8 h-8 mb-1"></lucide-icon>
                    <span class="text-xs font-medium whitespace-nowrap">{{ category.label }}</span>
                </button>
            }

        </div>
    </div>
</div>

<div class="min-h-screen bg-gradient-to-b from-white to-gray-50">

    <!-- Featured Properties Section -->
    <div class="container mx-auto px-4 sm:px-6 lg:px-8 py-12">
        <h2 class="text-2xl font-bold text-gray-900 mb-8">Biens populaires</h2>

        <!-- Properties Grid -->
        <div class="grid grid-cols-2 sm:grid-cols-4 lg:grid-cols-5 xl:grid-cols-6 gap-x-6 gap-y-9">
            @for (property of properties; track property.id) {
                <app-property-card [property]="property"></app-property-card>

            }
        </div>

        <!-- Load More Button -->
        <div class="text-center mt-12">
            <button class="px-8 py-3 bg-gray-900 text-white rounded-lg font-medium hover:bg-gray-800 transition-colors">
                Voir plus de biens
            </button>
        </div>
    </div>

    <!-- All Properties Section -->
    <div class="container mx-auto px-4 sm:px-6 lg:px-8 py-12 border-t border-gray-200">
        <h2 class="text-2xl font-bold text-gray-900 mb-8">Publiés récement</h2>

        <!-- Properties Grid -->
        <div class="grid grid-cols-2 sm:grid-cols-4 lg:grid-cols-5 xl:grid-cols-6 gap-x-6 gap-y-9">
            @for (property of properties; track property.id) {
                <app-property-card [property]="property"></app-property-card>
            }
        </div>
    </div>
</div>
